
## <summary>policy for skyra</summary>


########################################
## <summary>
##	Transition to skyra.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`skyra_domtrans',`
	gen_require(`
		type skyra_t, skyra_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, skyra_exec_t, skyra_t)
')


########################################
## <summary>
##	Execute skyra server in the skyra domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`skyra_initrc_domtrans',`
	gen_require(`
		type skyra_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, skyra_initrc_exec_t)
')


########################################
## <summary>
##	Search skyra lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`skyra_search_lib',`
	gen_require(`
		type skyra_var_lib_t;
	')

	allow $1 skyra_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read skyra lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`skyra_read_lib_files',`
	gen_require(`
		type skyra_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, skyra_var_lib_t, skyra_var_lib_t)
')

########################################
## <summary>
##	Manage skyra lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`skyra_manage_lib_files',`
	gen_require(`
		type skyra_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, skyra_var_lib_t, skyra_var_lib_t)
')

########################################
## <summary>
##	Manage skyra lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`skyra_manage_lib_dirs',`
	gen_require(`
		type skyra_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, skyra_var_lib_t, skyra_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a skyra environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`skyra_admin',`
	gen_require(`
		type skyra_t;
		type skyra_initrc_exec_t;
		type skyra_var_lib_t;
	')

	allow $1 skyra_t:process { ptrace signal_perms };
	ps_process_pattern($1, skyra_t)

	skyra_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 skyra_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, skyra_var_lib_t)

')

